@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.navBar{
  height: 50px;
  background-color: rgb(0 0 0 / 30%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
  }
  .boneCrossImg{
    height: 50px;
    width: 50px;
    display: none;
  }
  .navBar > :first-child {
    text-decoration: none;
    padding-left: 50px;
    font-family: "Oswald", system-ui;
    background:transparent;
    margin-right: auto;
    font-size: x-large;
  }
  .title{
    text-decoration: none;
    color:white;
  }
  .navElement{
    /* text-decoration has been set via inline css i know it  sucks but that is the only way it is inheriting the value so duh; */
    background:transparent;
    font-family: "Oswald", system-ui;
    font-size: large;
    padding-right: 50px;
    color: white;
  }
  .hero{
    flex-wrap: wrap;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
  }
  .hero h1{
    padding-left: 20px;
    height: 100px;
    margin-right: 50px;
    color: white;
    font-family: "Roboto", sans-serif;
    align-self: center;
  }
  .hero2{
    height: 100px;
    max-width: 877px;
    color: white;
    font-family: "Roboto", sans-serif;
    align-self: center;
    flex-wrap: wrap;
  }
  .logo{
    justify-self: center;
    align-self: center;
  }
  .reto {
    font-size: large;
    margin-top: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    color: #9CA3AF;
    height: fit-content;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  
  .joinUsButton {
    margin-top: 50px; 
    margin-left:40px ;
    display: inline-block;
    background: transparent;
  }
  
  .joinUsButton a {
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: large;
    color: #ffff;
    height: 36px;
    width: 126px;
    line-height: 36px;
    text-decoration: none;
    background-color:#9333EA;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
  }
.content{
  padding-top: 220px;
  color: #ffff;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.contentP{
  max-width: 877px;
  min-width: 0;
  align-self: center;
  justify-content: center;
  padding-bottom: 300px;
}
.contentP h1{
  font-size: xxx-large;
  font-family: "Roboto", sans-serif
}

.contentP p{
  padding-top: 20px;
 font-size: x-large;
 font-family: "Roboto", sans-serif;
 color: #9CA3AF;
}


.contentImg{
 width: 576px;
 height: 842px;
}

.ticketButton{
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: large;
  color: #FFFF;
  margin-top: 40px;
  height: 46px;
  width: 126px;
  background-color: #9333EA;
}

.ticketButton a{
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: large;
  color: #FFFF;
  text-decoration: none;
  background-color: #9333EA;
}
.pageLink{
  display: inline-block;
  padding-top: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: large;
  color: #FFFF;
  align-self: center;
}

.performingArtist{
  padding-top: 220px;
  color: #ffff;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.performingArtistImg{
  height: 568px;
  width: 568px;
}

.footer {
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  background-color: rgb(0 0 0 / 30%);
  font-family: "Oswald", system-ui;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerP {
  width: 100%;
  margin-top: 5px;
  color: #9CA3AF;
  font-size: large;
}

.footerDiv {
  width: 100%;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.footerButton {
  margin-top: 50px;
  display: inline-block;
  background: transparent;
}

.footerButton a {
  
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: large;
  color: #ffff;
  height: fit-content;
  width: 126px;
  line-height: 36px;
  background-color: #9333EA;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}

.socials {
  display: flex;
  justify-content: center;
  width: 100%;
}

.socialsA {
  height: fit-content;
}

.socialsLogo {
  height: 40px;
  margin-left: 10px;
}

/* **********************************************************************HOMEPAGE LAYOUT AND HOMEPAGE RESPONSVIE LAYOUT****************************************************** */
@media(max-width:600px){

  .navBar{
   height:fit-content;
   overflow: hidden;
   font-family: "Oswald", system-ui;
  }


  .boneCrossImg{
    top:0px;
    right: 2px;
    position:absolute;
    display: block;
  }
  .title{
    position: absolute;
    left: 10px;
    top: 2px;
  }
  
  .rightDiv {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-right: 245px;
    padding-bottom: 15px;
    gap: 10px;
  }
  .navElement{
    display: none;
  }
  .navElementActive{
    display:inline-block;
    justify-self: flex-end;
    padding-right: 55px;
    color: white;
    text-decoration: none;
    font-family: "Oswald", system-ui;
  }
  .weAre{
    margin-left: 35px;
  }
  .tribe{
    margin-left: 35px;
  }
  .reto{
    font-size: small;
  }
  .joinUsButton{
    margin-right: 45px;
  }
  .contentP{
    height: 5px;
    overflow-y: hidden;
  }
.contentP h1{
    margin: 0 10px;
    font-size: x-large;
  }
  .contentP p{
    margin: 0 10px;
    margin-bottom: 0;
    font-size: medium;
  }
  .pageLink{
    padding-left: 10px;
  }

  .ticketButton{
    margin-left: 120px;
  }
  .contentImg{
    margin-bottom: 70px ;
    width: 300px;
    height: 400px;
  }
  .performingArtistImg{
    height: 400px;
    width: 400px;
  }
  .content{
    height: fit-content;
  }
  .footer {
    margin-top: 20px;
    padding-top: 20px;
  }

  .footerDiv {
    margin-bottom: 100px;
  }

  .footerP {
    font-size: medium;
  }

  .footerButton {
    margin-top: 30px;
  }

  .footerButton a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px; /* Slightly smaller font size for mobile */
    color: #ffff;
    width: 140px; /* Adjust the width to be more balanced on small screens */
    line-height: 24px; /* Adjust line height */
    background-color: #9333EA;
    padding: 10px 0; /* Balanced padding to make the button look even */
    display: inline-block;
    text-align: center;
    border-radius: 5px; /* Add a subtle border radius for a modern look */
  }

  .socialsLogo {
    height: 30px;
    margin-left: 5px;
  }
}

/************************************************************************** COSPLAYERS PAGE STYLING *******************************************************************************/
.form-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cosplay-form {
  background-color: rgb(0 0 0 / 30%);
  color: #ffff;
  font-family: "Oswald", system-ui;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.cosplay-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="file"] {
  color: White;
  width: 100%;
  padding: 8px;
  border:  0.5px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
}

.radio-group label {
  margin-right: 10px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #9333EA ;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}